@font-face {
  font-family: "SourceSansPro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Black";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SourceSansPro-Black.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSerifPro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SourceSerifPro-Regular.ttf") format("truetype");
}
