/* Colors */
$j-white: #ffffff !default;
$j-black: #000000 !default;
$j-lightblack: #1b1b1b !default;
$j-green: #5cc4be !default;
$j-darkgreen: #20a39e !default;
$j-lightred: #f16b6c !default;
$j-lightgrey: #cccccc !default;
$j-grey: #c8c8c8 !default;
$j-darkgrey: #999999 !default;

/* Box shadows */
$form-box-shadow: 0 14px 30px 0 rgba(0,0,0,0.1);

/* Dimensions */
$global-font-size: 100% !default;
$spacing-unit: 0.9375rem;
$spacing-gutter: 1.875rem;
$container-width: 1200px;

/* Transitions */
$custom-transition-3: all 0.3s ease;
$custom-transition-5: all 0.5s ease;
